<template name="navbar">
    <div id="top"></div>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="***REMOVED******REMOVED***pathFor 'home'***REMOVED******REMOVED***#top">SpeedHack.io</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  ***REMOVED******REMOVED***#if currentUser***REMOVED******REMOVED***
                      ***REMOVED******REMOVED***> userMenu***REMOVED******REMOVED***
                    ***REMOVED******REMOVED***else***REMOVED******REMOVED***
                      ***REMOVED******REMOVED***>navMenu***REMOVED******REMOVED***
                  ***REMOVED******REMOVED***/if***REMOVED******REMOVED***
                  <li>***REMOVED******REMOVED***> loginButtons***REMOVED******REMOVED***</li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
</template>

<template name="navMenu">
    <li class="page-scroll">
        <a href="#portfolio">Where</a>
    </li>
    <li class="page-scroll">
        <a href="#about">About</a>
    </li>
    <li class="page-scroll">
        <a href="#partners">Partners</a>
    </li>
    <li class="page-scroll">
        <a href="#faq">FAQ</a>
    </li>
    <li class="page-scroll">
        <a href="#contact">Contact</a>
    </li>
</template>

<template name="userMenu">
    <li class="page-scroll">
        <a href="***REMOVED******REMOVED***pathFor 'team.create'***REMOVED******REMOVED***">Create Team</a>
    </li>
    <li class="page-scroll">
        <a href="***REMOVED******REMOVED***pathFor 'solutions.new'***REMOVED******REMOVED***">New Solution</a>
    </li>

    ***REMOVED******REMOVED***#if isAJudge ***REMOVED******REMOVED***
       <li class="page-scroll">
           <a href="***REMOVED******REMOVED***pathFor route='judge.show' slug=currentJudgeSponsor***REMOVED******REMOVED***">Judge</a>
       </li>
    ***REMOVED******REMOVED***/if***REMOVED******REMOVED***
    ***REMOVED******REMOVED***#if isInRole 'admin'***REMOVED******REMOVED***
       <li class="page-scroll">
           <a href="***REMOVED******REMOVED***pathFor route='backend.main' ***REMOVED******REMOVED***">Admin</a>
       </li>
    ***REMOVED******REMOVED***/if***REMOVED******REMOVED***

    <!-- <li class="page-scroll">
        <a href="#contact">My Profile</a>
    </li> -->
</template>
