<template name="newTeam">
    {{#autoForm collection="Teams" id="insertTeamForm" type="insert"}}
     <fieldset>
       <legend>Create a Team</legend>
       {{> afQuickField name="event_slug" options=openEventOptions}}
       {{> afQuickField name='name'}}
       {{> afQuickField name='table_number'}}
       {{> afQuickField name='teammate_1'}}
       {{> afQuickField name='teammate_2'}}
     </fieldset>
     <button type="submit" class="btn btn-primary">Create</button>
 {{/autoForm}}
</template>
