<template name="sponsorshipDetails">
    <h1>Why sponsor a SpeedHack?</h1>

    <ul>
        <li>Expose your technology to talented developers</li>
        <li>Get feedback on your technology</li>
        <li>Usage of your technology guaranteed (thanks to challenges)</li>
        <li>Meet developers in person</li>
        <li>International events with growing brand recognition</li>
    </ul>
    <p>
        Trusted already by many partners
    </p>
    
    ***REMOVED******REMOVED***>partnersLogo***REMOVED******REMOVED***

    <p>
        If you are interested to sponsor a SpeedHack, shoot us an email.
    </p>
    <a class="typeform-share btn btn-lg btn-outline_green" href="https://picsoung.typeform.com/to/EkPqrX" data-mode="2" target="_blank"><i class="fa fa-envelope-o"></i> Tell us more!</a>
    <script>
    (function()***REMOVED***var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id))***REMOVED***js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)***REMOVED***id=id+'_';if(!gi.call(d,id))***REMOVED***qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)***REMOVED******REMOVED***)()
    </script>
</template>
