<p>Hello ***REMOVED******REMOVED***user.username***REMOVED******REMOVED***,</p>
<p>
    We are really happy to see you join
    <a href="http://speedhack.io/events/***REMOVED******REMOVED***event.slig***REMOVED******REMOVED***" style="color: orange;">
        ***REMOVED******REMOVED***event.name***REMOVED******REMOVED***
    </a> happening on ***REMOVED******REMOVED***event.date***REMOVED******REMOVED***.
</p>
<p>
    We have partnered with many companies for this event. We highly recommend check their APIs prior to the event.
</p>

<p>
    During the event we will use <a href="http://speedhack.io">SpeedHack.io</a> platform to run the hackathon.<br/>
    Your username is <b>***REMOVED******REMOVED***user.username***REMOVED******REMOVED***</b>.
</p>

<h3>Partners</h3>
***REMOVED******REMOVED***#each event.sponsors***REMOVED******REMOVED***
    <a href="***REMOVED******REMOVED***url***REMOVED******REMOVED***"><img src="***REMOVED******REMOVED***logo***REMOVED******REMOVED***" width="150px" alt="***REMOVED******REMOVED***name***REMOVED******REMOVED***" /></a> <br/>
***REMOVED******REMOVED***/each***REMOVED******REMOVED***

<h4>Questions?</h4>
<p>
    Send us an email to contact@speedhack.io and we will answer you shortly.
</p>
