<template name="usersShow">
    <div class="row">
        <div class="col-md-8 col-xs-10">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="***REMOVED******REMOVED***profile.profile_picture_url***REMOVED******REMOVED***" alt="" class="center-block img-circle img-thumbnail img-responsive">
                            ***REMOVED******REMOVED***!-- <ul class="list-inline ratings text-center" title="Ratings">
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            </ul> --***REMOVED******REMOVED***
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-8">
                            <h2>***REMOVED******REMOVED***username***REMOVED******REMOVED***
                                ***REMOVED******REMOVED***#if profileBelongsCurrentUser username***REMOVED******REMOVED***
                                <a href="***REMOVED******REMOVED***pathFor 'users.edit'***REMOVED******REMOVED***"><i class="fa fa-pencil-square-o"></i></a>
                                ***REMOVED******REMOVED***/if***REMOVED******REMOVED***
                            </h2>
                            <p><strong>About: </strong> Web Designer / UI Expert. </p>
                            ***REMOVED******REMOVED***!-- <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p> --***REMOVED******REMOVED***
                            ***REMOVED******REMOVED***!-- <p><strong>Skills: </strong>
                                <span class="label label-info tags">html5</span>
                                <span class="label label-info tags">css3</span>
                                <span class="label label-info tags">jquery</span>
                                <span class="label label-info tags">bootstrap3</span>
                            </p> --***REMOVED******REMOVED***
                        </div>
                        <!--/col-->
                        ***REMOVED******REMOVED***!-- <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> 20,7K </strong></h2>
                            <p><small>Followers</small></p>
                            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>245</strong></h2>
                            <p><small>Following</small></p>
                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>43</strong></h2>
                            <p><small>Snippets</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
                        </div>
                        <!--/col--> --***REMOVED******REMOVED***
                    </div>
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</template>
