<template name="judgeShow">
    <h1>Judging - ***REMOVED******REMOVED***slug***REMOVED******REMOVED***</h1>

    <h2>Submissions to judge</h2>
    ***REMOVED******REMOVED***> submissionsToJudge***REMOVED******REMOVED***
    <h2>Submissions judged</h2>
    ***REMOVED******REMOVED***> submissionsJudged***REMOVED******REMOVED***
</template>

<template name="submissionsToJudge">
    ***REMOVED******REMOVED***> reactiveTable collection=subsToJudge showNavigation='always' rowsPerPage=5 showFilter=false settings=toJudgeSettings***REMOVED******REMOVED***
</template>

<template name="submissionsJudged">
    ***REMOVED******REMOVED***> reactiveTable collection=subsJudged showNavigation='always' rowsPerPage=5 showFilter=false settings=judgedSettings***REMOVED******REMOVED***
</template>

<template name="passedCell">
    <select>
    	  <option>Select one</option>
          <option value=true>Yes</option>
          <option value=false>No</option>
	</select>
</template>
