<template name="faqDetails">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{#each addIndex questions}}
            {{>faqQuestion}}
        {{/each}}
    </div>
</template>

<template name="faqQuestion">
    <div class="panel panel-default" style="text-align:left;">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{index}}" aria-expanded="false" aria-controls="collapse-{{index}}">
            <div class="panel-heading" role="tab" id="heading-{{index}}">
                <h4 class="panel-title" style="color:rgb(44, 62, 80);" >
                        {{value.title}}
                </h4>
            </div>
        </a>
        <div id="collapse-{{index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{index}}">
            <div class="panel-body" style="color:rgb(44, 62, 80);">
                {{value.answer}}
            </div>
        </div>
    </div>
</template>
