<template name="eventsList">
<section style="padding:0 0 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>SpeedHack events</h1>
                <h2>Upcoming:</h2>
                    ***REMOVED******REMOVED***#each upcomingEvents***REMOVED******REMOVED***
                        ***REMOVED******REMOVED***> eventDetail***REMOVED******REMOVED***
                    ***REMOVED******REMOVED***/each***REMOVED******REMOVED***
                <h2>Past:</h2>
                ***REMOVED******REMOVED***#each pastEvents***REMOVED******REMOVED***
                    ***REMOVED******REMOVED***> eventDetail***REMOVED******REMOVED***
                ***REMOVED******REMOVED***/each***REMOVED******REMOVED***
           </div>
       </div>
    </div>
</section>
</template>

<template name="eventDetail">
    <a href="***REMOVED******REMOVED***pathFor route='event.show'***REMOVED******REMOVED***">***REMOVED******REMOVED***name***REMOVED******REMOVED***</a>
</template>
