<template name="eventLeaderboard">
    <h1>***REMOVED******REMOVED***name***REMOVED******REMOVED***</h1>
    <div class="col-md-6">
        ***REMOVED******REMOVED***>leaderboard***REMOVED******REMOVED***
    </div>
    <div class="col-md-6">
        ***REMOVED******REMOVED***> livestream***REMOVED******REMOVED***
    </div>
</template>

<template name="leaderboard">
    <h1>Leaderboard</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Team</th>
                <th style="width: 60px">Score</th>
            </tr>
        </thead>
        <tbody>
            ***REMOVED******REMOVED***#each teamScore***REMOVED******REMOVED***
                ***REMOVED******REMOVED***> scoreDetail***REMOVED******REMOVED***
            ***REMOVED******REMOVED***/each***REMOVED******REMOVED***
        </tbody>
    </table>
</template>

<template name="scoreDetail">
    <tr class="player">
        <td class="name"><h2>***REMOVED******REMOVED***team_name***REMOVED******REMOVED***</h2></td>
        <td class="score"><h2><span>***REMOVED******REMOVED***score***REMOVED******REMOVED***</span></h2></td>
    </tr>
</template>

<template name="livestream">
    <h1>Livestream</h1>
    ***REMOVED******REMOVED***> reactiveTable collection=solutions settings=settings***REMOVED******REMOVED***
</template>
