<template name="eventShow">
    <div class="col-md-8">
        <h1>***REMOVED******REMOVED***name***REMOVED******REMOVED***</h1>
        <hr class="star-primary">
        <div class="event_actions">
            <img src="***REMOVED******REMOVED***image***REMOVED******REMOVED***" alt="***REMOVED******REMOVED***name***REMOVED******REMOVED*** logo" width="200px"/>
            ***REMOVED******REMOVED***#if isInRole 'admin'***REMOVED******REMOVED***
               <a class="btn btn-primary" href="***REMOVED******REMOVED***pathFor route='event.edit'***REMOVED******REMOVED***"><i class="fa fa-pencil"></i> Edit</a>
            ***REMOVED******REMOVED***/if***REMOVED******REMOVED***
            <a class="btn btn-primary" href="***REMOVED******REMOVED***pathFor route='event.leaderboard'***REMOVED******REMOVED***"><i class="glyphicon glyphicon-tower"></i> Leaderboard</a>
        </div>
        <p>

        </p>

        <p class="description_speedHack">
            ***REMOVED******REMOVED******REMOVED***brief***REMOVED******REMOVED******REMOVED***
        </p>
        ***REMOVED******REMOVED***> whereWhen***REMOVED******REMOVED***
    </div>
    <div class="col-md-4">
        ***REMOVED******REMOVED***> sponsorsSection***REMOVED******REMOVED***
    </div>
</template>

<template name="sponsorsSection">
    <div class="row">
        <h2>Sponsors
            ***REMOVED******REMOVED***#if isInRole 'admin'***REMOVED******REMOVED***
               ***REMOVED******REMOVED***> addSponsorMenu***REMOVED******REMOVED***
            ***REMOVED******REMOVED***/if***REMOVED******REMOVED***
        </h2>
        <ul class="ul_sponsors">
         ***REMOVED******REMOVED***#each sponsors***REMOVED******REMOVED***
            <li>
                <a href="***REMOVED******REMOVED***url***REMOVED******REMOVED***" target="_blank"><img src="***REMOVED******REMOVED***logo***REMOVED******REMOVED***" class="sponsor_logo" alt="***REMOVED******REMOVED***name***REMOVED******REMOVED*** sponsor logo"/></a>
            </li>
            ***REMOVED******REMOVED***#if isInRole 'admin'***REMOVED******REMOVED***
               ***REMOVED******REMOVED***> removeSponsorMenu***REMOVED******REMOVED***
            ***REMOVED******REMOVED***/if***REMOVED******REMOVED***
         ***REMOVED******REMOVED***/each***REMOVED******REMOVED***
     </ul>
    </div>
</template>

<template name="whereWhen">
    <div class = "row">
            <div class="col-md-8 well">
                <p>
                    <i class="fa fa-map-marker"></i> ***REMOVED******REMOVED***venue.name***REMOVED******REMOVED*** in <b>***REMOVED******REMOVED***venue.city***REMOVED******REMOVED***</b> at <i>***REMOVED******REMOVED***venue.address***REMOVED******REMOVED***</i> <a href="http://maps.google.com/?q=***REMOVED******REMOVED***venue.name***REMOVED******REMOVED***+***REMOVED******REMOVED***venue.city***REMOVED******REMOVED***"> map <i class="fa fa-external-link"></i></a>
                </p>
                <p>
                    <i class="glyphicon glyphicon-time"></i> On ***REMOVED******REMOVED***displayDay startDate***REMOVED******REMOVED*** from ***REMOVED******REMOVED***displayHours startDate***REMOVED******REMOVED*** to ***REMOVED******REMOVED***displayHours endDate***REMOVED******REMOVED***
                </p>
                ***REMOVED******REMOVED***#if tickets_url***REMOVED******REMOVED***
                <p>
                    <i class="fa fa-ticket"></i> Tickets: <a href="***REMOVED******REMOVED***tickets_url***REMOVED******REMOVED***">Register</a>
                </p>
                ***REMOVED******REMOVED***/if***REMOVED******REMOVED***
            </div>
    </div>
</template>

<template name="mySolutions">
    ***REMOVED******REMOVED***> reactiveTable collection=mySolutions showNavigation='never' showFilter=false settings=settings***REMOVED******REMOVED***
</template>

<template name="sponsorCell">
    <img src="***REMOVED******REMOVED***logo***REMOVED******REMOVED***" alt="" />
</template>

<template name="addSponsorMenu">
    <button id="addButton" class="btn btn-primary" name="Add Sponsor">+</button>
    <div id="addSponsorForm" style="display: none">
        <input type="text" name="sponsor_name" id="sponsor_name" placeholder="name">
        <input type="text" name="sponsor_logo" id="sponsor_logo" placeholder="logo">
        <input type="text" name="sponsor_url" id="sponsor_url" placeholder="URL">
        <button id="submitSponsorForm" type="submit" class="btn btn-primary" name="Add Sponsor">Add Sponsor</button>
    </div>
</template>

<template name="removeSponsorMenu">
    <button id="removeSponsorButton"  data-eventSlug=***REMOVED******REMOVED***eventSlug ..***REMOVED******REMOVED*** class="btn btn-primary" name="Remove Sponsor">-</button>
</template>
