<template name="eventShow">
    <div class="col-md-8">
        <h1>{{name}}</h1>
        <hr class="star-primary">
        <div class="event_actions">
            <img src="{{image}}" alt="{{name}} logo" width="200px"/>
            {{#if isInRole 'admin'}}
               <a class="btn btn-primary" href="{{pathFor route='event.edit'}}"><i class="fa fa-pencil"></i> Edit</a>
            {{/if}}
            <a class="btn btn-primary" href="{{pathFor route='event.leaderboard'}}"><i class="glyphicon glyphicon-tower"></i> Leaderboard</a>
        </div>
        <p>

        </p>

        <p class="description_speedHack">
            {{{brief}}}
        </p>
        {{> whereWhen}}
    </div>
    <div class="col-md-4">
        {{> sponsorsSection}}
    </div>
</template>

<template name="sponsorsSection">
    <div class="row">
        <h2>Sponsors
            {{#if isInRole 'admin'}}
               {{> addSponsorMenu}}
            {{/if}}
        </h2>
        <ul class="ul_sponsors">
         {{#each sponsors}}
            <li>
                <a href="{{url}}" target="_blank"><img src="{{logo}}" alt="{{name}} sponsor logo" width="100%"/></a>
            </li>
            {{#if isInRole 'admin'}}
               {{> removeSponsorMenu}}
            {{/if}}
         {{/each}}
     </ul>
    </div>
</template>

<template name="whereWhen">
    <div class = "row">
            <div class="col-md-8 well">
                <p>
                    <i class="fa fa-map-marker"></i> {{venue.name}} in <b>{{venue.city}}</b> at <i>{{venue.address}}</i> <a href="http://maps.google.com/?q={{venue.name}}+{{venue.city}}"> map <i class="fa fa-external-link"></i></a>
                </p>
                <p>
                    <i class="glyphicon glyphicon-time"></i> On {{displayDay startDate}} from {{displayHours startDate}} to {{displayHours endDate}}
                </p>
                {{#if tickets_url}}
                <p>
                    <i class="fa fa-ticket"></i> Tickets: <a href="{{tickets_url}}">Register</a>
                </p>
                {{/if}}
            </div>
    </div>
</template>

<template name="mySolutions">
    {{> reactiveTable collection=mySolutions showNavigation='never' showFilter=false settings=settings}}
</template>

<template name="sponsorCell">
    <img src="{{logo}}" alt="" />
</template>

<template name="addSponsorMenu">
    <button id="addButton" class="btn btn-primary" name="Add Sponsor">+</button>
    <div id="addSponsorForm" style="display: none">
        <input type="text" name="sponsor_name" id="sponsor_name" placeholder="name">
        <input type="text" name="sponsor_logo" id="sponsor_logo" placeholder="logo">
        <input type="text" name="sponsor_url" id="sponsor_url" placeholder="URL">
        <button id="submitSponsorForm" type="submit" class="btn btn-primary" name="Add Sponsor">Add Sponsor</button>
    </div>
</template>

<template name="removeSponsorMenu">
    <button id="removeSponsorButton"  data-eventSlug={{eventSlug ..}} class="btn btn-primary" name="Remove Sponsor">-</button>
</template>
