<template name="eventEdit">
    ***REMOVED******REMOVED***#autoForm collection="Events"  doc=this id="updateEventForm" type="update"***REMOVED******REMOVED***
     <fieldset>
       <legend>Add an Event</legend>
       ***REMOVED******REMOVED***> afQuickField name='name'***REMOVED******REMOVED***
       ***REMOVED******REMOVED***> afQuickField name='brief' rows=6***REMOVED******REMOVED***
       ***REMOVED******REMOVED***> afQuickField name='image'***REMOVED******REMOVED***
       ***REMOVED******REMOVED***> afQuickField name='tickets_url'***REMOVED******REMOVED***
       ***REMOVED******REMOVED***> afQuickField name='venue'***REMOVED******REMOVED***
       ***REMOVED******REMOVED***> afFormGroup name='startDate' type="datetime-local"***REMOVED******REMOVED***
       ***REMOVED******REMOVED***> afFormGroup name='endDate' type="datetime-local"***REMOVED******REMOVED***
     </fieldset>
     <button type="submit" class="btn btn-primary">Update</button>
 ***REMOVED******REMOVED***/autoForm***REMOVED******REMOVED***
</template>
